

body {
  font-family: Raleway, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

#wrap{
    width : 1045px;
    margin : 0px auto;
}

header {
  margin: 70px 0px;
  width: 1000px;
  text-align: center;
  line-height: 2em;
  text-transform: uppercase;
}

header h2 {
  font-size : 3em;
 }

.chart-wrap {
  outline : 1px solid rgb(230, 230, 230);
  margin-left: 20px;
  margin-top:20px;
  float:left;
}

.row-first, .row-second {
    min-width: 1040px;
}

.centerMessage {
 font-family: "Helvetica Neue",Helvetica,arial,sans-serif;
 font-weight: bold;
}

/* ANIChart */
.ani-chart {
  width: 70%;
  height: 100%;
}

.ani-legend {
  width: 25%;
  height: 100%;
}

@media screen and (max-width: 768px) { /* mobile 768 */
  body,header,#wrap {
    width : auto;
    min-width: 280px;
  }

  body {
    margin: 0px;
  }

  header {
    margin : 20px 0px;
  }

  .row-first, .row-second {
    min-width: 280px;
  }

  .row-first, .row-second > div:first-child{
    display: none;
  }
  header h2 {
    font-size: 2em;
  }

  .chart-wrap {
    margin : 0px;
    float:none;
  }
  .chart-wrap .ani-legend text {
    font-size : 10px;
  }
  .ani-chart {
    width: 65%;
    height: 100%;
  }
  .ani-legend {
    width: 30%;
    height: 100%;
  }
}
