
li {
  list-style: none;
}

body {
  font-family: Raleway, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

#wrap{
    1width : 1045px;
    margin : 0px auto;
}

header {
  margin: 70px auto;
  width: 1000px;
  text-align: center;
  line-height: 2em;
  text-transform: uppercase;
}

header h2 {
  font-size : 3em;
  color: #FFBAD2;
 }

.chart-wrap , .code {
  margin-left: 20px;
  float:left;
}

.chart-wrap {
  border : 1px solid rgb(230, 230, 230);
  margin-top:20px;
}

.code{
  opacity: 0;
  width:500px;
  padding-bottom:10px;
  margin-top: 8px;
   -webkit-transition : opacity 2s ease-in;
  transition: opacity 2s ease-in;
}

.chartList{
    overflow: hidden;
    width: 1046px;
    margin:0px auto;
    margin-bottom: 50px;
}

.centerMessage {
 font-family: "Helvetica Neue",Helvetica,arial,sans-serif;
 font-weight: bold;
}

pre {
  font-family: "Source Code Pro",monospace;
}

/*@media screen and (max-width: 768px) {
  body,header,#wrap {
    width : auto;
  }

  body {
    margin: 0px;
  }

  header {
    margin : 20px 0px;
  }

  .chartList {
    min-width: 280px;
  }

  header h2 {
    font-size: 2em;
  }

  .chart-wrap {
    margin : 0px;
  }
  .chart-wrap .sweet-legend text {
    font-size : 10px;
  }
  .sweet-chart {
    width: 65%;
    height: 100%;
  }
  .sweet-legend {
    width: 30%;
    height: 100%;
  }
}
*/